@tailwind base;
@tailwind components;
@tailwind utilities;

.gutter {
    background-repeat: no-repeat;
    background-position: 50%;
}

.gutter.gutter-vertical {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=");
    cursor: row-resize;
}

.gutter.gutter-horizontal {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==");
    cursor: col-resize;
}

.split {
    display: flex;
    flex-direction: row;
    padding: 0 10px 10px 10px;
    /* height: 100%; */
}
.splitFullScreen {
    display: flex;
    flex-direction: row;
    padding: 10px;
    height: 100vh; 
}
.splitHorizontal {
    padding: 0;
    height: 100%;
}
.monaco-editor-background, .margin-view-overlays {
    background: transparent!important;
}

.border-custom {
    border: 1px solid rgba(82, 81, 81, 0.7);
}

p {
    margin-top: 1rem;
}

h3 {
    font-size: 1.5rem;
    margin: 1rem 0;
}

.monaco-editor .editor-widget {
    display: none !important;
    visibility: hidden !important;
  }
