body {
  margin: 0;
  background-color: red;
}
.menuBar {
  width: 100%;
  height: 40px;
  background: black;
  display: flex;
}
.menuButton {
  color: white;
  padding: 10px;
  padding-left: 25px;
  padding-right: 25px;
  border: 1px solid green;

}
.menuButton:hover {
  background: white;
  color: black;
  cursor: pointer;
}
